<?xml version="1.0" ?>
<NaspInputData>
    <Options>
        <RunName>nasp</RunName>
        <OutputFolder>/export/elixiruibfs/Elixir_Dolan/HistoricalKveik_Oya/snakemake_test/Snakemake_testsamples/nasp</OutputFolder>
        <Reference name="NC_001224.1" path="/export/elixiruibfs/Elixir_Dolan/HistoricalKveik_Oya/reference/NC_001224.1.fna">
            <FindDups>True</FindDups>
        </Reference>
        <Filters/>
        <JobSubmitter>NONE</JobSubmitter>
    </Options>
    <Files>
        <AssemblyFolder path="/export/elixiruibfs/Elixir_Dolan/HistoricalKveik_Oya/snakemake_test/Snakemake_testsamples/nasp">
            <Assembly sample="HFBUMD_contigs">HFBUMD_contigs.fasta</Assembly>
        </AssemblyFolder>
    </Files>
    <ExternalApplications>
        <Index name="Index" path="/Home/ii/oyai/micromamba/envs/nasp/bin">
            <AdditionalArguments/>
            <JobParameters name="nasp_index">
                <MemRequested>2</MemRequested>
                <NumCPUs>1</NumCPUs>
                <Walltime>4</Walltime>
                <Queue/>
                <JobSubmitterArgs/>
            </JobParameters>
        </Index>
        <MatrixGenerator name="MatrixGenerator" path="/Home/ii/oyai/micromamba/envs/nasp/lib/python3.8/site-packages/nasp/nasptool_linux_64">
            <AdditionalArguments/>
            <JobParameters name="nasp_matrix">
                <MemRequested>30</MemRequested>
                <NumCPUs>40</NumCPUs>
                <Walltime>48</Walltime>
                <Queue/>
                <JobSubmitterArgs/>
            </JobParameters>
        </MatrixGenerator>
        <Samtools name="Samtools" path="/Home/ii/oyai/micromamba/envs/nasp/bin/samtools">
            <AdditionalArguments/>
        </Samtools>
        <DupFinder name="DupFinder" path="/Home/ii/oyai/micromamba/envs/nasp/bin/nucmer">
            <AdditionalArguments/>
            <JobParameters name="">
                <MemRequested>4</MemRequested>
                <NumCPUs>1</NumCPUs>
                <Walltime>4</Walltime>
                <Queue/>
                <JobSubmitterArgs/>
            </JobParameters>
        </DupFinder>
        <AssemblyImporter name="AssemblyImporter" path="/Home/ii/oyai/micromamba/envs/nasp/bin/delta-filter">
            <AdditionalArguments/>
            <JobParameters name="">
                <MemRequested>4</MemRequested>
                <NumCPUs>1</NumCPUs>
                <Walltime>4</Walltime>
                <Queue/>
                <JobSubmitterArgs/>
            </JobParameters>
        </AssemblyImporter>
    </ExternalApplications>
</NaspInputData>
